@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:ital,opsz,wght@0,9..144,700;0,9..144,900;1,9..144,700;1,9..144,900&family=Roboto:wght@300;400;500;700;900&family=Tomorrow:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #14172b;
}

.asset-card-wrapper {
  background-image: url("../assets/card.svg");
  background-repeat: no-repeat;
}

.bitcoin {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
}

.solana {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(220, 31, 255, 0.1) 100%
  );
}

.ethereum {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(237, 240, 244, 0.1) 100%
  );
}

.binance {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
}

.shiba {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(228, 45, 4, 0.1) 100%
  );
}
